*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

/* Mover o que for CSS do componente, para o CSS do componente. */
#box{
  background-color:#282c34;
  display: flex;
  align-items: right;
  justify-content: center;
}

/* Mover o que for CSS do componente, para o CSS do componente. */
img{
  width: 100px;
  height: 100px;
}

/* Mover o que for CSS do componente, para o CSS do componente. */
div#pokemon{
  display: flex;
  padding-top: 60px;
  padding-left: 90px;
}

main{
  height: 80vh;
  font-weight: 80vw;
  background-color: #D9D9D9;
  margin-left: 25px;
  margin-right: 25px
}

header{
  padding-bottom: 25px;
}